<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="melon.components">
      <section name="cms" type="Melon.Components.CMS.Configuration.CMSConfigurationHandler, Melon.Components.CMS, Version=3.5.103.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
      <section name="forum" type="Melon.Components.Forum.Configuration.ForumConfigurationHandler,Melon.Components.Forum, Version=3.5.103.1, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
      <section name="news" type="Melon.Components.News.Configuration.NewsConfigurationHandler,Melon.Components.News, Version=3.5.103.0, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
      <section name="productcatalog" type="Melon.Components.ProductCatalog.Configuration.ProductCatalogConfigurationHandler, Melon.Components.ProductCatalog, Version=3.5.101.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="mcf_userPhotosFolderPath" value="~/MC_ForumUserPhotos" />
    <add key="mcf_userPhotoThumbnailHeight" value="137" />
    <add key="mcf_userPhotoThumbnailWidth" value="137" />
  </appSettings>
  <connectionStrings>
    <remove name="LocalSQLServer" />
    <!--<add name="LocalSQLServer" connectionString="Data Source=.\sqlexpress; Integrated Security=True; User Instance=True;AttachDBFilename=|DataDirectory|WEBSITEDB.MDF; " providerName="System.Data.SqlClient" />-->
      <add name="LocalSQLServer" connectionString="Data Source=localhost; Initial Catalog=Site; User ID=site; Password=password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" protection="All" timeout="20" />
    </authentication>
    <roleManager enabled="true" />
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSQLServer" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
    <profile enabled="true">
      <properties>
        <add name="MC_FirstName" type="System.String" />
        <add name="MC_LastName" type="System.String" />
        <add name="MC_PhotoPath" type="System.String" />
        <add name="MC_ICQNumber" type="System.String" />
        <add name="MC_IsProfileVisible" type="System.Boolean" />
        <add name="MC_AdditionalInfo" type="System.String" />
      </properties>
    </profile>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="nStuff" namespace="nStuff.UpdateControls" assembly="nStuff.UpdateControls, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="MC_CMS_URLRewrite" type="Melon.URLRewriter.ModuleRewriter, Melon.URLRewriter" />
    </httpModules>
    <siteMap defaultProvider="MC_CMSRouterSiteMapProvider">
      <providers>
        <add name="MC_CMSRouterSiteMapProvider" type="Melon.Components.CMS.Providers.RouterSiteMapProvider" />
        <add name="MC_CMSXmlSiteMapProvider" type="Melon.Components.CMS.Providers.UrlRewritingXmlSiteMapProvider" siteMapFile="~/MC_CMSSiteMap.sitemap" securityTrimmingEnabled="true" />
        <add name="MC_CMSSqlSiteMapProvider" type="Melon.Components.CMS.Providers.SQLSiteMapProvider" />
      </providers>
    </siteMap>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="MC_CMS_URLRewrite" type="Melon.URLRewriter.ModuleRewriter, Melon.URLRewriter" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <melon.components>
    <cms basePath="~/MC_CMS/" loginUrl="~/Login.aspx" siteMapResourceFile="MC_CMSResources.resx" xmlSiteMapProviderName="MC_CMSXmlSiteMapProvider" sqlSiteMapProviderName="MC_CMSSqlSiteMapProvider" pagesFolderPath="~/MC_CMSLiveContent" localPagesFilter="^(?!.*/((bin)|(mc_cms)|(MC_CMSLiveContent)|(mc_news)|(mc_productcatalog)|(mc_forum)|(admin))/.*).*\.((aspx)|(htm)|(xml)|(doc)|(pdf))$" imagesFolderPath="~/MC_CMSMenuImages" imagesAllowedExtensions=".GIF,.JPG,.JPEG" imagesMaxSize="200" usersPageSize="10" templatesPageSize="10" maxNestingNodesLevel="3">
      <language allLanguages="en-US,fr-FR" defaultLanguage="en-US" alwaysSetDefaultLanguage="true">
        <webSiteLanguageProperty assembly="App_Code" type="Melon.Components.CMS.Language" name="CurrentLanguage" />
      </language>
      <connectionString name="LocalSQLServer" />
      <daabProvider assembly="Melon.Components.ApplicationBlocks.Data" type="Melon.Components.ApplicationBlocks.Data.SqlServer" />
      <cmsUserProvider assembly="App_Code" type="Melon.Components.CMS.ASPNETCMSUserProvider" />
      <cmsRoleProvider assembly="App_Code" type="Melon.Components.CMS.ASPNETCMSRoleProvider" />
    </cms>
    <forum topicsPageSize="10" postsPageSize="10" searchResultsPageSize="10" enableFullTextSearch="False" minimumSearchDateValue="01/01/2010" userPhotoAllowedExtensions=".JPG,.JPEG,.BMP,.GIF" userPhotoMaxSize="2000">
      <daabProvider assembly="Melon.Components.ApplicationBlocks.Data" type="Melon.Components.ApplicationBlocks.Data.SqlServer" />
      <connectionString name="LocalSQLServer" />
      <forumUserProvider assembly="App_Code" type="Melon.Components.Forum.ASPNETForumUserProvider" />
    </forum>
    <news basePath="~/MC_News/" languages="en-US,fr-FR" photosFolderPath="~/MC_NewsData/Photos" photosAllowedExtensions=".GIF,.JPG,.JPEG" photosMaxSize="200" allowPostingComments="True" requireApprovingComments="True" requireLoginToPostComments="False" enableFullTextSearch="False">
      <backEndInterface loginUrl="~/Login.aspx" newsPageSize="10" commentsPageSize="10" usersPageSize="10" />
      <frontEndInterface newsListPageUrl="~/News.aspx" newsDetailsPageUrl="~/NewsDetails.aspx" />
      <daabProvider assembly="Melon.Components.ApplicationBlocks.Data" type="Melon.Components.ApplicationBlocks.Data.SqlServer" />
      <connectionString name="LocalSQLServer" />
      <newsUserProvider assembly="App_Code" type="Melon.Components.News.ASPNETNewsUserProvider" />
    </news>
    <productcatalog basePath="~/MC_ProductCatalog/" language="en-US" currency="$">
      <connectionString name="LocalSQLServer" />
      <backEndInterface loginUrl="" tablePageSize="10" categoryLevel="5" />
      <audio audioFolderPath="~/MC_ProductCatalog/Data/Audio" audioMaxSize="4096" audioImageSrc="DefaultAudio.gif" />
      <video videoFolderPath="~/MC_ProductCatalog/Data/Video" videoMaxSize="4096" videoImageSrc="DefaultVideo.gif" />
      <image imagesFolderPath="~/MC_ProductCatalog/Data/Images" imagesAllowedExtensions=".GIF,.JPG,.JPEG, .BMP, .PNG" imagesMaxSize="200">
        <thumbImage thumbWidth="75" thumbHeight="75" defaultImageSrc="Default_thumb.jpg" />
        <mediumImage mediumWidth="150" mediumHeight="150" defaultImageSrc="Default_medium.jpg" />
      </image>
      <daabProvider assembly="Melon.Components.ApplicationBlocks.Data" type="Melon.Components.ApplicationBlocks.Data.SqlServer" />
      <ProductCatalogUserProvider assembly="App_Code" type="Melon.Components.ProductCatalog.ProductCatalogUserProvider" />
    </productcatalog>
  </melon.components>
</configuration>