/* ######################### GLOBAL #########################*/
body {
	background: #F9F9F7 url('images/a1.gif') repeat-x;
    font-size: 11px;
    font-family: "trebuchet ms", helvetica, sans-serif;
    color: #8C8C73;
    line-height: 18px;
}
table td {
    font-size:12px;
    font-family:Tahoma, Arial, Verdana, Times New Roman;
    color:#242424;
}
a {
	color: #FF7800;
    text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
div {
    padding:0; 
    margin:0;
}
p {
    margin:0px;
    padding: 5px 0px ! important;
}
img {
	border:none;
}
ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
ul li {
    background: url('images/bullet.gif') 0% 4px no-repeat;
    padding:0 0 3px 18px;            
}
select {
    font-size:12px;
    font-family:Tahoma;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
    clear: both;
    display: block;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin-bottom: -1px;
}
.required_field, .validator, .error_message {
    color:Red;
}
.message{
    font-size:12px;
    color:#000000;
}
.input {
	width:230px;
}
.dropdown {
	width:236px;	
	height:22px;
}
.btn_106, .btn_61{
	font-family:Tahoma,Arial;
    font-size:11px;
    color:#fff;    
    text-align:center;
    cursor:pointer; 
    border:none; 
}
.btn_106 {
	background: url('images/btn_106.gif') 0 0 no-repeat;
	width:106px;
	height:23px;	
	padding:3px 0 7px 0px;
	*padding:4px 0 6px 0;	
}
.btn_61 {
	background: url('images/btn_61.gif') 0 0 no-repeat;
    padding:3px 0 5px 0px;
	*padding:4px 0 4px 0;
	width:61px;	    
    height:23px;
}
.table td {
	padding:0 2px 3px 0;
}
/*******************  Login Panel Styles *******************/
.main_login_div { 
    width:400px;
    margin:0 auto;
    font-size:12px;
    font-family:Tahoma, Arial;
}
.login_div {
    margin:60px 0 0 0;
    border: solid 1px #b2b2b2;
    padding:10px 0 30px 0;
}
.login_div table td {
    padding:2px 10px;
}
.login_div h1 {
    border-bottom:1px solid #92c83e;
    color:#242424;
    font-size:20px;
    font-weight:bold;
    padding:0 10px 10px 18px;
    margin:0;
}
.create_account_div
{
    padding-left:20px;
}

/*******************  Register Success Panel Styles *******************/
.register_success_div
{
    text-align:center;
    padding:100px 0;
    font-size:12px;
    font-family:Tahoma, Arial;
}
/****************** Begin Header Styles ***************************/
.mainMenu{
    --padding:0 0 0  20px;
    margin:0px;
    --border-bottom: solid 5px #8dc63f;
    width:100%;    
}
.mainMenu table, .mainMenu td {
    padding: 0px !important;    
    background: url('images/but_1.jpg');
}

.menu_item td
{
    background: url('images/but1.jpg') no-repeat right;    
}
.menu_item {
    font-size: 14px ! important;
    line-height: 25px;
    color: #000000;
    text-align: left;
    padding: 0 26px 0 10px;
    margin: 0px;   
    height:100%;         
}

.
.menu_item a:hover, .menu_item .selected {
    color: #8dc63f;
    background-image: url('images/but1r.jpg');
}
/****************** End Header Styles ***************************/

/****************** Begin Footer Styles ***************************/
.footer {
    margin:30px;
    width:680px;
    border-top:solid 1px #ccccc6;
}
.ft_company {
     color: #8dc63f;
}
/****************** End Footer Styles *************************************/

/****************** Begin Sub Navigation Styles ***************************/
.sub_menu {
   padding: 0px !important;
}
.sub_menu_item {
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    text-align: left;
    padding: 0 26px 0 9px;
    margin: 0px;
    border-bottom:#8dc63f 1px solid;
}
.sub_menu_item a:hover, .sub_menu_item .selected {
    color: #8dc63f;
  
}
/****************** End Sub Navigation Styles *****************************/

/****************** Begin Master Pages Styles *****************************/
.main_div {
    margin:10px auto;
    width:860px;
}
.logo {    
    background-image: url('images/slogan.jpg');
    width:770px; 
    height:123px;
}
.log_status {
    float:right;
    margin-top:10px;
}
.inner_sub_nav {
    float:left;
    width:150px;
}
.inner_right_content {
    float:right;
    width:700px;
}
.content {
    margin-top:30px;
    vertical-align:top;
}
.home_text {
    width:500px;
    float:left;
    float:left;
}
.featured {
     float:right;
     width:300px;
}

/****************** End Master Pages Styles ******************************/

/****************** Begin Page Content Styles *****************************/
.page_title {
    font-size:20px;
    font-weight:bold;   
}
/****************** End Page Content Styles *****************************/


ul.linklist
{
    list-style: none;
}

ul.linklist li
{
    border-top: solid 1px #EEEEEE;
    padding-top: 5px;
    margin: 5px 0px 0px 0px;
}

ul.linklist li.first
{
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

#upbg
{
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff url('images/upbg.gif') no-repeat;
    width: 717px;
    height: 264px;
    z-index: 0;
}

#outer
{
    position: relative;
    width: 747px;
    margin: 0 auto;
    background: #fff url('images/abg.gif') repeat-y;
}

#inner
{
    position: relative;
    padding: 13px 30px 13px 30px;
    z-index: 2;
}

#header
{
    position: absolute;
    background: #FF7800 url('images/a8.gif') repeat-x;
    width: 202px;
    height: 92px;
    color: #fff;
    padding-left: 20px;
}

#header span
{
    font-weight: normal;
}

#header h1
{
    position: absolute;
    font-size: 23px;
    letter-spacing: -1px;
    top: 30px;
    height: 92px;
}

#header h2
{
    position: absolute;
    font-size: 10px;
    font-weight: normal;
    color: #FCE2CA;
    top: 51px;
}

#header sup
{
    color: #FCE2CA;
}

#splash
{
    position: absolute;
    right: 30px;
    background: #EAEAE2 url('images/a10.jpg') no-repeat;
    width: 458px;
    height: 92px;
}

#menu
{
    position: relative;
    background: #46461F url('images/a16.gif') repeat-x;
    padding: 0px 20px 0px 5px;
    margin: 98px 0px 0px 0px;
}

#menu ul
{
}

#menu ul li
{
    display: inline;
    line-height: 52px;
    padding-left: 3px;
}

#menu ul li.first
{
    border-left: 0px;
}

#menu ul li a
{
    background-color: transparent;
    background-repeat: repeat-x;
    padding: 8px 12px 8px 12px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

#menu ul li a:hover
{
    background: #fff url('images/a18.gif') repeat-x top;
    color: #4A4A24;
    text-decoration: none;
}

#primarycontent
{
    position: relative;
    width: 430px;
    float: left;    
    margin: 30px 30px;
}

#primarycontent h3
{
    position: relative;
    top: 4px;
    font-size: 18px;
    line-height: 25px;
    color: #656551;
    letter-spacing: -1px;
    background: url('images/a22.gif') bottom repeat-x;
    padding: 0px 0px 10px 15px;
    margin-bottom: 20px;
}

#primarycontent .content
{
    padding: 0px 15px 0px 15px;
    margin-bottom: 20px;
}

#primarycontent .post
{
    margin-bottom: 30px;
}

#primarycontent .post .header
{
    position: relative;
}

#primarycontent .post .date
{
    position: absolute;
    right: 15px;
    top: 0px;
    line-height: 35px;
    color: #AFAFA4;
    font-weight: bold;
}

#primarycontent .post .content
{
    margin-bottom: 0px;
}

#primarycontent .post .footer
{
    position: relative;
    top: -10px;
    background: url('images/a33.gif') repeat-x;
    height: 64px;
}

#primarycontent .post .footer ul
{
    list-style: none;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#primarycontent .post .footer ul li
{
    display: inline;
    line-height: 14px;
    padding-left: 17px;
    margin-left: 25px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
}

#primarycontent .post .footer ul li.printerfriendly
{
    background-image: url('images/a41.gif');
}

#primarycontent .post .footer ul li.comments
{
    background-image: url('images/a36.gif');
}

#primarycontent .post .footer ul li.readmore
{
    background-image: url('images/a38.gif');
}

#date
{
    position: absolute;
    top: 0px;
    line-height: 52px;
    color: #BDBDA2;
    right: 30px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -1px;
}

#secondarycontent
{
    position: relative;
    width: 230px;
    float: left;
}

#secondarycontent h3
{
    position: relative;
    top: 4px;
    font-size: 16px;
    line-height: 25px;
    color: #656551;
    letter-spacing: -1px;
    background: url('images/a22.gif') bottom repeat-x;
    padding: 0px 0px 10px 10px;
    margin-bottom: 20px;
}

#secondarycontent .content
{
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
}

#footer
{
    position: relative;
    clear: both;
    height: 66px;
    text-align: center;
    line-height: 66px;
    background-image: url('images/a50.gif');
    color: #A8A88D;
}

#footer a
{
    color: #8C8C73;
}

